/* Reset o Normalize de estilos básicos para evitar inconsistencias entre navegadores */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $font-family;
  font-size: $font-size-base;
}
